html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.class-icon-add{
  color: #0D6EFD;
  font-size: 25px;
  cursor: pointer;
}

.class-contain-title{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.class-icon-edit{
  color: #0D6EFD;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.class-icon-del{
  color: #fd390d;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.class-search-bar{
  display: flex;
  gap: 10px;
  position: absolute;
  right: 310px;
}

.vista-principal {
  height: 78vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.formulario-inicio-sesion {
  width: 16rem;
  height: 23rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}

/* ESTILO PARA EL TITULO */
.vp_p {
	width: 25rem;
	text-transform: uppercase;
	letter-spacing: .5rem;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5rem 0rem;
}

.vp_span {

  font: 700 4rem/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325rem;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */
  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

/* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;

}

/* Animate Background Image */
@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

/* TERMINA ESTILO PARA EL TITULO */

/* ESTILOS PARA JEFE OPERACIONES */
.jefe-contenedor {
  background-color: rgb(236, 236, 236);
  display: flex;
  gap: 2rem;
  padding: 3rem;
}
/* TERMINA JEFE OPERACIONES */